.header {
  background: linear-gradient(to bottom right, #080c11,#11171f,#19222e);
  color: white;
  margin-bottom:30px;
  width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.nav-container {
  max-width: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.938);
}

.nav-links {
  display: flex;
  gap: 16px;
}

.nav-link {
  background: linear-gradient(to bottom right, #4d586b,#374151,#374151);
  color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.938);
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  padding: 6px 14px;
  border-radius: 8px;
  transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
  background: linear-gradient(to bottom right, #acb6c7,#374151,#374151);
  color: white;
}

.nav-link.active {
background: linear-gradient(to bottom right, rgba(0, 0, 255, 0.486),rgba(98, 0, 255, 0.445), rgba(212, 95, 235, 0.452));
  color: #fff;
}